<!DOCTYPE html>
<html>
  <head>
    <title>Rubybankreview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="alert">
      <% if notice %>
        <p class="alert-info"><%= notice %></p>
      <% elsif alert %>
        <p class="alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <div class="container m-2 p-3">
      <%= yield %>
    </div>

  </body>
</html>
